.widget{
    width: 40%;
    margin: 2em;
    /*margin:32px;*/
   }
   
   .widget p {
    display: inline-grid;
    line-height: 1em;
   }
   
   /*ventas.html*/
   table.tabla-detalleventa{
     text-align: left;
   }
   
   td.detalleventa{
     text-align: center;
   }
   
   .cart-quantity-input {
       height: 34px;
       width: 80px;
       border-radius: 5px;
       border: 1px solid #56CCF2;
       background-color: #eee;
       color: #333;
       padding: 0;
       text-align: center;
       font-size: 1.2em;
       margin-right: 25px;
   }
   
   .oferta{margin:1%;}
   .mySlides {display:none; }
   .w3-left, .w3-right, .w3-badge {cursor:pointer}
   .w3-badge {height:13px;width:13px;padding:0}
   
   img[class*="promo"]{
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   
   display:block;
   margin-left: auto;
   margin-right: auto;
   width: 100%;   
   transform:scale(0.8);
   -ms-transform:scale(0.8);
   -moz-transform:scale(0.8); 
   -webkit-transform:scale(0.8); 
   -o-transform:scale(0.8); 
   transition: all 500ms ease-in-out;      
   }      
   
   
       
   img[class*="promo"]:hover{
   transform:scale(1);
   -ms-transform:scale(1); 
   -moz-transform:scale(1);
   -webkit-transform:scale(1); 
   -o-transform:scale(1); 
   }
   
   .ir-arriba {
       display:none;
       padding:20px;
       background:#4ed1ff;
       font-size:20px;
       color:#fff;
       cursor:pointer;
       position: fixed;
       bottom:20px;
       right:20px;
     z-index: 999;
   }
   
   
   #chart_wrap {
       position: relative;
       padding-bottom: 40%;
       height: 0;
       overflow:hidden;
   }
   
   #chart_div {
       position: absolute;
       top: 0;
       left: 0;
       width:100%;
       height:100%;
   }
   
   div[class*="equipoD"]>div:hover{
     background-color: #9AE5FF;
     box-shadow: 5px 10px 8px #888888;
     transition-duration: 2s;
   }
   
   .tipoCliente select {
     background-color: #4ed1ff;
     color: white;
     border: none;
     font-size: 18px;
     box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
     -webkit-appearance: button;
     appearance: button;
     outline: none;
   }
   
   .tipoCliente::before {
     text-align: center;
     font-size: 18px;
     line-height: 45px;
     color: rgba(255, 255, 255, 0.5);
     background-color: rgba(255, 255, 255, 0.1);
     pointer-events: none;
   }
   
   .tipoCliente:hover::before {
     color: rgba(255, 255, 255, 0.6);
     background-color: rgba(255, 255, 255, 0.2);
   }
   
   
       
   .contacto{
     margin: 10px;
     width:100px;
     height:100px;
   
   }